// main 

.main {
    padding: 30px 20px;
}

// navigation

.navigation {

    &__link {

        display: flex;
        align-items: center;
        border: 2px solid #3CCFBB;
        border-radius: 25px;
        padding: 22px 20px;
        margin-bottom: 12px;

        & p {
            @include Montserrat-Bold();
            text-transform: uppercase;
            line-height: 18px;
            margin: 0 0 0 20px;
            color: #3F4444;
        }
    }

    &__icon {
        min-width: 59px;
        display: flex;
        justify-content: center;
    }
}

// loyalty-card

.loyalty-card {

    max-width: 337px;

    &__title {
        margin: 0 30px 49px;
    }

    &__text {

        margin-bottom: 20px;
        color: #3F4444;

        &--bold {
            @include Montserrat-Bold();
        }
    }
}

// title

.main__title {
    @include Montserrat-ExtraBold();
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    line-height: 32px;
    color: #3CCFBB;
}

// button

.back {
    &__btn {
        display: flex;
        align-items: center;
        border: 2px solid #3F4444;
        border-radius: 25px;
        padding: 22px 20px;
        margin: 40px 20px;

        & p {
            @include Montserrat-Medium();
            text-transform: uppercase;
            font-size: 20px;
            line-height: 20px;
            margin: 0 0 0 25px;
            color: #3F4444;
        }
    }
    &__icon {
        min-width: 59px;
        display: flex;
        justify-content: center;
    }
}

.forward {
    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: none;
        background: #FFF500;
        border-radius: 25px;
        padding: 22px 20px;
        margin: 17px 0 40px;

        & p {
            @include Montserrat-Medium();
            text-transform: uppercase;
            font-size: 20px;
            line-height: 20px;
            margin: 0 0 0 25px;
            color: #3F4444;
        }
    }
    &__icon {
        min-width: 59px;
        display: flex;
        justify-content: center;
    }
}

// about

.about {

    max-width: 330px;
    
    &__title {
        margin-bottom: 36px;
    }

    &__text {
        margin-bottom: 20px;
        color: #3F4444;

        & span {
            @include Montserrat-Bold();
        }
    }

    &__img {
        margin-bottom: 20px;
    }

    &__promo {
        @include Montserrat-ExtraBold();
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        color: #3CCFBB;
        margin-top: 30px;
    }
}

// menu

.menu {

    margin-bottom: 60px;

    &__title {
        margin-bottom: 52px;
    }

    &__link {
        width: 314px;
        display: flex;
        align-items: center;
        border: 2px solid #FFF500;
        border-radius: 25px;
        padding: 22px 20px;
        margin-bottom: 13px;
    }

    &__text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 25px;

        & p {
            @include Montserrat-Bold();
            text-transform: uppercase;
            line-height: 18px;
            margin: 0;
            color: #3F4444;
        }
    }

    &__icon {
        min-width: 59px;
        display: flex;
        justify-content: center;
    }

    &__arrow {
        display: flex;
        align-items: center;
    }
}

// news 

.news {

    &__list {
        max-width: 322px;
        margin: 55px auto 0;
    }

    &__item {
        margin-bottom: 40px;
        display: inline-block;
    }

    &__subtitle {
        @include Montserrat-ExtraBold();
    }

    &__date {
        font-size: 12px;
        line-height: 12px;
        color: #858585;
    }

    &__text {
        margin-top: 20px;
    }
}

// price

.price {
    &__title {
        @include Montserrat-Bold();
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        color: #3CCFBB;

        & span {
            font-size: 25px;
            line-height: 32px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 30px;
        padding-right: 15px;
    }

    &__item {
        position: relative;
        margin-bottom: 10px;
    }

    &__mark {
        position: absolute;
        right: -30px;
        top: -15px;
        text-align: center;
        background: #FFF500;
        border-radius: 50%;
        width: 58px;
        height: 58px;
        z-index: 555;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #3F4444;

        & p:first-child {
            @include Montserrat-ExtraBold();
            font-size: 25px;
            margin: 0;
        }

        & p:last-child {
            text-transform: uppercase;
            margin: 0;
            font-size: 10px;
            line-height: 10px;
        }
    }

    &__text {
        margin-top: 8px;
    }
}

// review

.stars {
    display: flex;
    justify-content: center;

    & img {
        margin: 0 4px;
    }
}

.little-stars {
    display: flex;
    justify-content: flex-start;

    & img {
        margin: 0 4px;
    }
}

.review {

    &__title {
        margin-bottom: 16px;
    }

    &__fields {
        max-width: 314px;
        margin: 57px auto 0;

        & input {
            width: 100%;
            padding: 13px 26px;
            border: 2px solid #868686;
            border-radius: 20px;
            margin-bottom: 22px;
        }

        & textarea {
            width: 100%;
            border: 2px solid #3CCFBB;
            border-radius: 20px;
            padding: 22px 26px;
            margin-bottom: 17px;
        }
    }
}

.radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    & p {
        margin: 0;
    }
}

.switch-field {
    display: flex;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	color: #3F4444;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	padding: 12px 20px;
	margin-right: -1px;
	border: 2px solid #868686;
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #3CCFBB;
    color: #fff;
    border: 2px solid #3CCFBB;
}

.switch-field label:first-of-type {
    border-radius: 10px 0 0 10px;
    border-right: none;
}

.switch-field label:last-of-type {
    border-radius: 0 10px 10px 0;
    border-left: none;
}

.rating {

    margin-bottom: 40px;

    & p {
        @include Montserrat-Bold();
    }
}
