// main 

.main {
    padding: 30px 20px;
}

// navigation

.navigation {

    &__link {

        display: flex;
        align-items: center;
        border: 2px solid #3CCFBB;
        border-radius: 25px;
        padding: 22px 20px;
        margin-bottom: 12px;

        & p {
            @include Montserrat-Bold();
            text-transform: uppercase;
            line-height: 18px;
            margin: 0 0 0 25px;
            color: #3F4444;
        }
    }

    &__icon {
        min-width: 59px;
        display: flex;
        justify-content: center;
    }
}

// loyalty-card

.loyalty-card {

    max-width: 337px;

    &__title {
        margin: 0 30px 49px;
    }

    &__text {

        margin-bottom: 20px;

        &--bold {
            @include Montserrat-Bold();
        }
    }
}

// title

.main__title {
    @include Montserrat-ExtraBold();
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    line-height: 32px;
    color: #3CCFBB;
}

// button

.back {
    &__btn {
        display: flex;
        align-items: center;
        border: 2px solid #3F4444;
        border-radius: 25px;
        padding: 22px 20px;
        margin: 40px 20px;

        & p {
            @include Montserrat-Medium();
            text-transform: uppercase;
            font-size: 20px;
            line-height: 20px;
            margin: 0 0 0 25px;
            color: #3F4444;
        }
    }
    &__icon {
        min-width: 59px;
        display: flex;
        justify-content: center;
    }
}

// about

.about {

    max-width: 330px;
    
    &__title {
        margin-bottom: 36px;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__img {
        margin-bottom: 20px;
    }

    &__promo {
        @include Montserrat-ExtraBold();
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        color: #3CCFBB;
        margin-top: 30px;
    }
}